[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
pyinstaller = "*"

[packages]
pandas = "*"
pandas-datareader = "*"
bs4 = "*"
markdown = "*"
tables = "*"
tabulate = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
